.lotto-random-header{
    width: 100%;
    padding:10px;
    background:#fff;
    font-size:24px;
    border:1px solid #aeaeae;
    box-sizing:border-box;
}

.lotto-random-header h1 {display:inline-block;margin:0;}
.lotto-random-header p {display:inline-block;}
